html{
    scroll-behavior: smooth;
}
body{
    font-family:"Lucida Console", "Courier New", monospace;
    background-color: rgba(0, 0, 0, 0.874);
    /*background-color: rgba(16, 131, 43, 0.681); height: 100vh; vh = viewing height...this is so that on a smaller screen, there is no white space*/
    display: grid; /* Use grid for the list as well */
    grid-template-areas:
    'header header'
    'main main'
    'footer footer';
    grid-gap: 50px;
    height:100vh;
    width:100vw;
    cursor: url('../WebsitePictures/cursor.png'), auto;
}

.header{
    grid-area: header;
    background-color: azure;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;

}

.header .logo{
    font-size: 30px ;
    background-color: azure;
    border-radius: 50px ;
    padding:10px 30px 10px 30px;
    display: inline-block;
    margin-top:10px ;
    margin-bottom:10px ;
    -webkit-text-stroke: 1px black;
    color: rgb(233, 142, 4);
    font-weight: bolder;
    font-size: 2em;
  }

.header .sidenav ul{
    list-style-type: none;
   
}

.header .sidenav ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top:10px;
    
}

.header .sidenav ul li a{
    background-color: rgba(233, 141, 4, 0.639);
    padding:10px 30px;
    color: rgb(0, 0, 0);
    border-radius:100px ;
}
.header .sidenav ul li a.active{
    display: block;
    padding: 8px 16px;
    font-size: 17px;
    text-decoration: none;
    transition: font-size 0.8s ease-in;
}

.header .sidenav a:hover {
    background-color: #fbf0a1c8;
    transform: scale(1.2); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


main{
    grid-area:main;
    display: grid;
    grid-template-areas:
    'openbtn h-entry' 
    'openbtn maintext';
    grid-template-columns: 15% 85%; /* This line specifies that the first column (openbtn) should*/
    grid-gap:50px;
    
}


.h-entry{
    grid-area: h-entry;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
}

.h-entry .intro{
    display: flex;
    flex-direction: column;
    border-left: 3px solid azure;
    align-items:baseline;
    
}

.intro .essayHome{
    margin-left: auto;
    display: inline;
    padding: 10px;
    background-color: rgba(233, 141, 4, 0.639);
    color: rgb(46, 45, 45);
    text-decoration: none;
    font-size:1.2em;
    border-radius:100px ;
    transform: scale(0.8);
    margin-right: auto;
}


.intro .essayHome:hover{
    background-color: #fbf0a1c8;
    transform: scale(0.9); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

.intro p{
    margin-left: 10%;
    background-color: azure;
    border-radius:50px ;
    padding:10px;
    
}

.intro p a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
}

.intro p a:hover{
    background-color: rgba(233, 141, 4, 0.639);
}


.intro h1{
    background-color: rgba(240, 255, 255, 0);
    height:auto;
    font-size: 3em;
    position: relative;
    -webkit-text-stroke: 1.5vw rgba(240, 255, 255, 0);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
}

.intro h1::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: rgb(233, 142, 4);
    -webkit-text-stroke: 0vw azure;
    border-right: 4px solid  rgb(233, 142, 4);
    overflow: hidden;
    animation: animate1 6s linear infinite;
    
}

.maintext{
    grid-area: maintext;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    border-left: 3px solid azure;
    align-items:center;
    padding-left: 10%;
    padding-right: 15%;
   
}

.maintext .item{
    background-color: azure;
    margin-top:2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
    font-size: 0.9em;
}

.maintext .item h2{
    background: linear-gradient(rgba(233, 141, 4, 0.639) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
    align-self: center;
    
}

.maintext .item h2:hover{
    --p: 100%;
    border-radius: 20px;
    
}

.h3{
    align-self: center;
    color: black;
    text-decoration: underline;
    
}

.h3:hover{
    font-size: 1.3em;

}


@keyframes animate1 {


    0% ,10%{
        width: 0;
    }
    70%,90%,100%{
        width: 100%;
    }
}

.maintext .btnScroll{
    grid-area: maintext;
    display: inline;
    justify-self: center;
    padding: 10px;
    background-color: rgba(233, 141, 4, 0.639);
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size:1.2em;
    border-radius:100px ;
    transform: scale(1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btnScroll:hover{
    background-color: #fbf0a1c8;
    transform: scale(1.2); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}


.footer{
    grid-area: footer;
    background-color: azure;
    font-size: 16px;
}

.scroll-watcher{
  border-radius: 100px;
  height:10px;
  position: fixed;
  top:0;
  z-index: 1000;
  background-color:rgba(233, 141, 4, 0.639);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher{
  to{scale:1 1;}
}



.navbar2 {
    height:100vh;
    width:32vw;
    position: fixed;
    background-color: rgba(90, 56, 4, 0.768);
    overflow:auto;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 60px;
    color: azure;
    margin-right:250px;
    font-size:0.85em;
    padding-right: 20px;

  }

  .navbar2 ul{
    list-style-type: none;
    
  }

  .navbar2 ul li{
    display: flex;
    flex-direction: column;
  }

  .navbar2 li h2 {
    border-top: 1px solid azure;
    margin-top: 3%; /* Space below the image */
    
  }


   .not_active {
    order:2;
    display: inline;
    padding: 10px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10%;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    transition: 0.3s;
    background-color: rgba(233, 141, 4, 0.639);
    
  }

  .active{
    order:1;
    display: inline;
    padding: 10px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10%;
    text-decoration: none;
    border-radius: 30px;
    
    transition: 0.3s;
    background-color: #fbf0a1c8;
    color: black;
    
  } 

  .active:hover {
    background-color: rgba(233, 141, 4, 0.639);
    transform: scale(1.1); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  
  .not_active:hover {
    background-color: #fbf0a1c8;
    transform: scale(1.1); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
  }
  
  .navbar2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: azure;
    
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(233, 141, 4, 0.639);
    color: #282828;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    position: sticky;
    top:30px;
  }
  
  .openbtn:hover {
    background-color: beige;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  #main {
    grid-area:openbtn;
    transition: margin-left .5s;
    padding: 10px;
  }

  
  
  .navbar2 li h4 {
    display: none;
  }

  .navbar2 li figcaption{
    display: none;
  }


.maintext::before {
    content: ''; /* Create an invisible pseudo-element */
    width: 100%; /* Adjust to match the width of .centered-child */
}

figure{
    margin:auto;
    display: flex;
    flex-direction: column;
   
   }

  figure img{
    border: 3px solid rgba(233, 141, 4, 0.639);
    border-radius: 20px;
    align-self: center;
  }

  figure figcaption{
    font-style: italic;
    align-self: center;
  }

  .Ref{
    font-size: 0.7em;
  }

  .table {
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 2fr 1.5fr; /* Three equal columns */
    grid-auto-rows: auto; /* Three equal rows */
    grid-row-gap: 20px; /* Adjust the gap between rows */
    
    margin-top:5%;
    margin-bottom:5%;
}


.cell {
    border:1px solid rgba(145, 97, 24, 0.639);
    padding:3%;
    
}

.table > div:nth-child(1) {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.table > div:nth-child(3) {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.table > div:nth-child(4) {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.table > div:nth-child(6) {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.table > div:nth-child(7) {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.table > div:nth-child(9) {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.table > div:nth-child(10) {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.table > div:nth-child(12) {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.cell .h3{
    text-decoration: none;
    background-color: rgba(233, 141, 4, 0.639);
    border-radius: 20px;
}

.cell h4{
    text-decoration: underline;
}

blockquote{
    font-style:italic ;
    font-size: 1.3em;
}


/* Basic styling for the footer */
footer {
  background-color: #f8f8f8;
  padding: 2%;
  text-align: center;
}

/* Style the list items within the footer */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Add some spacing between list items */
footer li {
  margin-bottom: 0.5%;
  padding: 0.2%;
}

/* Style the links within the list */
footer a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

/* Change link color on hover */
footer a:hover {
  color: rgba(233, 141, 4, 0.639);
  transform: scale(1.5);
}

  
/* Hide the link that should open and close the topnav on small screens */
.sidenav .icon {
  display: none;

}

/* Responsive styles */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .sidenav ul li:not(:first-child) {display: none;}
  .sidenav a.icon {
    float: right;
    display: block;
    font-size: 2em; /* Change this to the size you want */
    color: rgba(203, 57, 4, 0.768);
    padding-right:3%;
    padding-top:3%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .sidenav.responsive {position: relative;height:auto;}
  .sidenav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidenav.responsive ul li{
    float: none;
    display: block;
    text-align: left;
  }
}