/*.container{
    display: grid;
    justify-items: center ;
    gap: 20px;

    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: repeat(2, minmax(400px, 1fr));

    grid-template-areas:
    "card1 card2"
    "card3 card4";
   


    border-color: aquamarine;
    font-family:"Lucida Console", "Courier New", monospace;
 

}*/

.Elementflip{

  width: 90%;
  height: 90%;
  text-align: center;
  
  
  margin: 0 auto;

  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}




.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flipbutton{
  position: relative;
  

  width: 100px;
  height: 50px;
  background: rgb(243, 226, 239);
  cursor: pointer;
  visibility: visible;
  font-family:"Lucida Console", "Courier New", monospace;
  font-weight: 600;
  font-size: 1em;
  padding: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid azure;
  border-radius: 30px;
  display: inline-block;
}
#el1 .flipFront, #el1 .flipBack, #el2 .flipFront, #el2 .flipBack, #el3 .flipFront, #el3 .flipBack, #el4 .flipFront, #el4 .flipBack{
  width: 60%;
  height: 80%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 30px;
  
}
.Elementflip .flipFront {
    background: rgba(238, 207, 217, 0.881);
    box-shadow: 5px 6px 32px 2px rgba(238, 207, 217, 0.881);
}
.Elementflip .flipBack{
    background: rgba(238, 207, 217, 0.881);
    
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#el1 .flipFront , #el1 .flipBack , #el2 .flipFront , #el2 .flipBack , #el3 .flipFront , #el3 .flipBack , #el4 .flipFront , #el4 .flipBack {
  
  color: rgb(0, 0, 0);
  font-family:"Lucida Console", "Courier New", monospace;
  text-align: justify;
  display: block;
  position: absolute;
  top: 15%;
  width: 90%;
  padding: 15px 15px 15px 15px;

  overflow: auto;
  scrollbar-color: rgba(236, 133, 165, 0.881) rgba(238, 207, 217, 0.881);
  scrollbar-width: thin;
}

