body{
    font-family:"Lucida Console", "Courier New", monospace;
    /* backgorund image -- > background: url()*/
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.874);
    height: 100vh; /*vh = viewing height...this is so that on a smaller screen, there is no white space*/
    width:100vw;
    cursor: url('..//WebsitePictures/cursor.png'), auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    grid-area: h1;
    background-color: rgba(240, 255, 255, 0);
    height:auto;
    font-size: 100px;
    border-radius: 50px ;
    border-width: 50px;
    justify-self: center;
    font-weight: bolder;
    position: relative;
    -webkit-text-stroke: 1.5vw rgba(240, 255, 255, 0);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: azure;
    -webkit-text-stroke: 0vw azure;
    border-right: 4px solid  azure;
    overflow: hidden;
    animation: animate1 6s linear infinite;
    
}

@keyframes animate1 {


    0% ,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.Summary{
    background-color: rgba(0, 0, 0, 0);
    width: 50vw;
    text-align: center;
    font-size: 4em;
    color: azure;
    margin-left:50px;
    margin-right:50px;
    margin-top:10%;
    margin-bottom:10%;
    font-weight: bolder;
}

.item3 {
    background-color: rgba(0, 0, 0, 0);
    width: 50vw;
    height:100vh;
    border-radius: 30px;
    position: relative;
    
}

.draggable{
    border-radius: 100px;
    transform: scale(1.1); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.616);
    cursor: url('/WebsitePictures/cursor.png'), auto;
    
}

.draggable:active {
    cursor: grabbing; /* Cursor while mouse is clicked down */
}



.fa-solid fa-angles-right{
    font-family: "Font Awesome 5 Free"
}





  .sidenav{
    background-color: azure;
    backdrop-filter: blur(5px);
    display: flex;
    height:20%;

}

    .sidenav ul{
        list-style-type: none;
        margin: auto;
        display: flex;
        justify-content: space-between; /* Spread items horizontally */

    }

    .sidenav ul li{
        margin-left:20px;
        margin-right:20px;
        font-size: 2em;
        
}

    .active{
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.874); 
        color: azure;
        border-radius:100px ;
        display: block;
        padding: 8px 16px;
        transition: font-size 0.8s ease-in;

}



    .not_active{
        display: block;
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, 0.874);
        text-decoration: none;
        transition: font-size 0.8s ease-in;
        border-radius:100px ;
        color: azure;
    }

    .sidenav a:hover {
        background-color: #fbf0a1c8;
        transform: scale(1.2); /* Increase size by 10% */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        color: black;
    }
 



    /* Style buttons */
.btn {
    background-color: white;
    border: none; /* Remove borders */
    color: rgb(0, 0, 0); /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: x-large;
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #fbf0a1c8;
  }


/* Basic styling for the footer */
footer {
    background-color: #f8f8f8;
    padding: 2%;
    text-align: center;
  }
  
  /* Style the list items within the footer */
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Add some spacing between list items */
  footer li {
    margin-bottom: 0.5%;
    padding: 0.2%;
  }
  
  /* Style the links within the list */
  footer a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  /* Change link color on hover */
  footer a:hover {
    color: rgba(203, 57, 4, 0.768);
    transform: scale(1.5);
  }

/*

 border-radius: 30px;
    background-color: #b3ecde8d;

.sidenav a.active {
      color: #695d5d;
  }*/
  

/*.sidenav ul{
    list-style-type: none;
    text-align: center;
  }
  
.sidenav ul li{
      display: block;
      padding:3rem;
     
  }

.item3 .whiteboard{
    background-color: aliceblue;
    margin:3%;
}


  */