html{
  font-size: 62.5%;

}

body{
    font-family:"Lucida Console", "Courier New", monospace;
    /* backgorund image -- > background: url()*/
    background-size: cover;
    height: 100vh; /*vh = viewing height...this is so that on a smaller screen, there is no white space*/
}


.sidenav{
  float:right;
  color: #695d5d;
  background-color: rgba(234, 187, 242, 0.521);
  margin: 2%;
  padding: 0;
  width: 30%;
  position: relative;
  height: 100vh;
  overflow: auto;
  font-size: 20px;
  
    
}

.sidenav ul{
  list-style-type: none;
  text-align: center;
}

.sidenav ul li{
    display: block;
    padding:3rem;
   
}


  
/* The navigation menu links */
.sidenav ul li a{
  display: block;
  color: #695d5d;
  text-decoration: none;
  
  }

.sidenav a.active {
    color: #695d5d;
}

  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f73bb8;
  }


.main{

    margin-left:160px;
    padding: 0px 10px;

  }
  
  /* Position and style the close button (top right corner) 
  margin-right: 10px;
  margin-top:30px;
  margin-left: 400%;
  margin-bottom:50px;
  /*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }*/
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/*
a.active{
    background-color: azure;
    padding:10px 30px;
    color: blueviolet;
    border-radius:100px ;

}


nav a:not(.active){
  background-color: azure;
  color: #695d5d;
}

nav a:hover:not(.active) {
  background-color: rgb(4, 178, 178);
  color: rgba(68, 27, 232, 0.433);
}



*/



/*
nav ul{
    list-style-type: none;
    
    /*float: right;margin-right: 40px;
    
    width:200px;

}

nav ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top:30px;
    margin-left: 500%;
    margin-bottom:50px;
}

nav ul li a{
    display: block;
    padding: 8px 16px;
    font-size: 20px;
    text-decoration: none;
}

/* The side navigation menu 
nav[aria-label="primary"] {
    height: 100%; /* 100% Full-height 
    width: 0; /* 0 width - change this with JavaScript */
    /*position: fixed; /* Stay in place 
    z-index: 1; /* Stay on t
    top: 0; /* Stay at the top 
    right: 0;
    background-color: azure; /* Black
    overflow-x: hidden; /* Disable horizontal scroll 
    padding-top: 60px; /* Place content 60px from the top 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav 
  }



*/

/*ids--> #idname
  classes --> .classname




  color: blueviolet;
    background: rgba(231, 196, 237, 0.521);
    height: 100vh; 
    width: 0; /* 0 width - change this with JavaScript 
    /*position: fixed; 
    z-index: 1; /* Stay on top 
    top: 0; /* Stay at the top 
    float: right;  
    /*overflow-x: hidden; /* Disable horizontal scroll 
    padding-top: 0; /* Place content 60px from the top 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav 
  

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #efd4ec;
    display: block;
    transition: 0.3s;
*/