.navbar2 {
    background-color: rgba(80, 197, 213, 0.542);
    margin: 20px 0;
    width: 100%; /* Full width */
  }
  
  .navbar2 ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
    display: grid; /* Use grid for the list as well */
    grid-template-columns: repeat(2, 1fr); /* Create two columns for list items */
    grid-gap: 20px;
  }
  
  .navbar2 li {
    text-align: center; /* Center text in each list item */
  }

  .navbar2 ul li a {
    background-color: rgba(63, 194, 63, 0.797);
    border-radius:100px ;
    color: black;

}
  
  .navbar2 a.active{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    color: black;
  }


  .navbar2 a:hover {
    background-color: #fbf0a1c8;
    transform: scale(1.2); /* Increase size by 10% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 

.navbar2 ul{
    list-style-type: none;
    
    

}

.navbar2 ul li{
    display: inline-block;
    
    
    
}
Style the links inside the navigation bar 
.navbar2 ul li a {
    background-color: rgba(63, 194, 63, 0.797);
    /*padding:10px 30px;
    border-radius:100px ;

}*/

/* Change the color of links on hover 
*/



/*flex-wrap: wrap;
    align-content: center;
    .navbar2{
    border:1px solid lightblue;
    display:flex;
    flex-direction: row;main axis is vertical
    justify-content: space-between ;main axis
    align-items: center; 2nd axis
  

}
margin-right: 10px;
    margin-top:10px;
.navbar2 a{
    width: 20rem;
    height: 20rem;
    background:rgb(205, 232, 255);
    margin: 1rem;
    flex-basis:15rem;
    flex-grow: 1;
    flex-shrink:1;

        padding: 8px 16px;
}
    
float: right;
    margin-right: 40px;

  flex-wrap: wrap;
    position: relative;
    bottom: 0; overflow: auto;
    
*/