body{
    font-family:"Lucida Console", "Courier New", monospace;
    /* backgorund image -- > background: url()*/
    background-size: cover;
    height: 100vh; /*vh = viewing height...this is so that on a smaller screen, there is no white space*/
}

/*ids--> #idname
  classes --> .classname
*/

nav[aria-label="primary"]{
    color: blueviolet;
    background: rgba(231, 196, 237, 0.521);
    backdrop-filter: blur(5px);
    height: 80px;
    width: 100%;
    
}

nav ul{
    list-style-type: none;
    float: right;
    margin-right: 40px;
    

}

nav ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top:10px;
    
}

nav ul li a{
    
    background-color: azure;
    padding:10px 30px;
    color: blueviolet;
    border-radius:100px ;
}


.Summary{

    background-color:rgba(216, 246, 246, 0.521);
    font-size: 16px;
    line-height:30px;
    padding:10px 30px;  /*also takes 4 values, spacing WITHIN element*/
    margin:0 50px; /*takes up to 4 values -- top, bottom left right, space of element in context of other elements*/

}

nav ul li a.active{
    display: block;
    padding: 8px 16px;
    font-size: 15px;
    text-decoration: none;

}


